body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:473px;
}
#u314 {
  position:absolute;
  left:82px;
  top:18px;
  width:1262px;
  height:473px;
}
#u315 {
  position:absolute;
  left:2px;
  top:228px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u316 {
  position:absolute;
  left:657px;
  top:227px;
  width:158px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
